data-docs/workflows/Determine_if_Raidline_Game_should_end.json
{
  "createdAt": "2024-11-07T13:31:43.825Z",
  "updatedAt": "2024-11-08T08:55:35.493Z",
  "id": "5MLqwjVghzefGCHC",
  "name": "Determine if Raidline Game should end",
  "active": false,
  "nodes": [
    {
      "parameters": {},
      "id": "4ab72d61-847a-4bd8-92e1-bb770274d510",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        240,
        320
      ]
    },
    {
      "parameters": {
        "model": "llama3.1:latest",
        "options": {}
      },
      "id": "3da6def6-9355-48bc-b2e4-640281ec19a6",
      "name": "Ollama Model",
      "type": "@n8n/n8n-nodes-langchain.lmOllama",
      "typeVersion": 1,
      "position": [
        960,
        720
      ],
      "credentials": {
        "ollamaApi": {
          "id": "smC31ckuTiI67jHH",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ae3dfbfe-23be-497e-bde4-592c0d07206d",
              "name": "msgs",
              "value": "={{ $json.msgs }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "0c3a089a-cd58-4bfa-b0b8-30971bbbb39a",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        380,
        460
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "multiplex",
        "options": {}
      },
      "id": "198c6be4-bdda-4bdc-be4d-2477cf0f7a1c",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        860,
        340
      ]
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"decision\": \"NO_END\",\n\t\"reason\": \"Reason behind why you've decided this or that.\"\n}"
      },
      "id": "636232cf-8b7a-4594-baf5-57b141e14837",
      "name": "Structured Output Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        1240,
        560
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Our players are doing a tabletop incident handling.\nHere is the initial context : {{ $json.initial_context }}\n\nHere are the status updates since the beginning : {{ $json.msgs }}\n\nHere is the last incident update : {{ $json.last_msg }}\nDecide if the incident is over.\nReply by outputting one of the three following choices : \n* GOOD_END : In case the incident is handled correctly by investigators and there's no additional task to do.\n* BAD_END : In case the players have done an irrecoverable action and the incident cannot be saved.\n* NO_END : In case the elements indicate that the incident is still ongoing OR in case it's not clear whether or not the incident is handled.\n\nThen explain in a singular sentence what leads you to this choice.",
        "hasOutputParser": true
      },
      "id": "6254c9a1-c426-48ec-934d-020a98197561",
      "name": "Basic LLM Chain",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [
        1060,
        320
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "424dd54b-3b05-4500-bc56-ee0915511b08",
      "name": "Summarization Chain",
      "type": "@n8n/n8n-nodes-langchain.chainSummarization",
      "typeVersion": 2,
      "position": [
        560,
        460
      ]
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          },
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Summarization Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Summarization Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Summarization Chain": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "70fb14d65d1efc3bf383b2aa106e6e224a0ebb0d7bbe904fb212db7a9b65bcf7"
  },
  "pinData": {},
  "versionId": "8f8031f9-fa93-4971-a810-d6e49fc28fb4",
  "triggerCount": 0,
  "tags": [
    {
      "createdAt": "2024-11-07T14:30:19.879Z",
      "updatedAt": "2024-11-07T14:30:19.879Z",
      "id": "KHPEAotJ2GfBZijJ",
      "name": "raidline"
    },
    {
      "createdAt": "2024-07-18T12:53:39.827Z",
      "updatedAt": "2024-07-18T12:53:39.827Z",
      "id": "skXchd57SLWMXK6r",
      "name": "llm"
    },
    {
      "createdAt": "2024-11-07T14:39:30.169Z",
      "updatedAt": "2024-11-07T14:39:30.169Z",
      "id": "t4D649cgB2RwOwmD",
      "name": "scenario_management"
    },
    {
      "createdAt": "2024-11-07T15:00:44.608Z",
      "updatedAt": "2024-11-07T15:00:44.608Z",
      "id": "IYLI0gUzWm2CHK7C",
      "name": "status_update"
    }
  ]
}