data-docs/workflows/Form_to_generate_world_facts.json
{
  "createdAt": "2024-11-07T13:31:43.825Z",
  "updatedAt": "2025-03-27T16:07:12.139Z",
  "id": "RlQBk8rlcxkwJ08A",
  "name": "Form to generate initial world facts",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "path": "f9cc31d9-9328-40b1-a295-d244a043b13d",
        "formTitle": "Generate the initial context for rAIdline Response",
        "formDescription": "Below some questions about your context that will be saved as world facts;\n\nYou can always add new world facts here : http://localhost:5678/form/71e9b08b-da05-42e6-b771-89a42753dab4",
        "formFields": {
          "values": [
            {
              "fieldLabel": "The Incident Response team is named",
              "fieldType": "textarea",
              "placeholder": "What is the name of your Team ?"
            },
            {
              "fieldLabel": "The I.R. team works in the following sector :",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Technology"
                  },
                  {
                    "option": "Finance"
                  },
                  {
                    "option": "HealthCare"
                  },
                  {
                    "option": "Education"
                  },
                  {
                    "option": "Manufacturing"
                  },
                  {
                    "option": "Other"
                  }
                ]
              },
              "requiredField": true
            },
            {
              "fieldLabel": "The team has the following number of analysts",
              "fieldType": "number",
              "placeholder": "What's the size of your team ? 42"
            },
            {
              "fieldLabel": "The I.T. is handled",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "In-House"
                  },
                  {
                    "option": "By an MSSP"
                  },
                  {
                    "option": "in an hybrid-setup"
                  }
                ]
              },
              "requiredField": true
            },
            {
              "fieldLabel": "What is the name of the I.T. Team",
              "requiredField": true
            },
            {
              "fieldLabel": "The company uses the following I.T. model :",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "The I.T. is fully hosted on a cloud provider"
                  },
                  {
                    "option": "The I.T. is hybrid (some assets are in the cloud, others are on-prem)"
                  },
                  {
                    "option": "The I.T. is fully hosted on premises."
                  }
                ]
              },
              "requiredField": true
            },
            {
              "fieldLabel": "There are the following technologies in the I.T. environment of the company",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Linux"
                  },
                  {
                    "option": "Windows"
                  },
                  {
                    "option": "Mac"
                  },
                  {
                    "option": "GCP"
                  },
                  {
                    "option": "Azure"
                  },
                  {
                    "option": "AWS"
                  },
                  {
                    "option": "Kubernetes"
                  }
                ]
              },
              "multiselect": true,
              "requiredField": true
            },
            {
              "fieldLabel": "The EDR deployed in the company is ",
              "requiredField": true
            },
            {
              "fieldLabel": "The security team has access to the SIEM named",
              "requiredField": true
            },
            {
              "fieldLabel": "The main adversary of the company are",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "State-sponsored groups. Also known as APT, those attackers are meticulous, determined with virtually unlimited resources, time and precise objectives."
                  },
                  {
                    "option": "An hacktivist group. They use their offensive security skills in order to further their political agenda or to expose their ideology."
                  },
                  {
                    "option": "Script kiddies, who main objective is pwning our site for bragging rights. They're careless in their approach and will try about anything (bruteforce, automated scanners and pwnkits) to manage to do any kind of damage and brag about it."
                  },
                  {
                    "option": "Insiders. They're employees of my company who use their privileged access to cause nefarious falldown for our company. "
                  },
                  {
                    "option": "Ransomware operators. They're looking for an entry to encrypt our systems and ask for a financial transaction to unlock our systems."
                  }
                ]
              },
              "requiredField": true
            }
          ]
        },
        "options": {
          "ignoreBots": true
        }
      },
      "id": "8a797ca9-5267-47ed-a0ea-c19ccc0a1552",
      "name": "n8n Form Trigger",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.1,
      "position": [
        420,
        300
      ],
      "webhookId": "f9cc31d9-9328-40b1-a295-d244a043b13d"
    },
    {
      "parameters": {
        "content": "This workflow should be executed once after Raidline is installed. This form will ask the admin about specific questions regarding the setting of this game (what kind of team, what kind of software, etc...) \nIt will then generate world facts based on this context."
      },
      "id": "155202ef-b3c1-4a95-9ee1-446da89e3746",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        440,
        120
      ]
    },
    {
      "parameters": {
        "operation": "insert",
        "collection": "world_facts",
        "fields": "=fact,tags",
        "options": {
          "dateFields": ""
        }
      },
      "id": "e220c76c-67c0-4eca-852e-82157db43fb9",
      "name": "MongoDB",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.1,
      "position": [
        1020,
        280
      ],
      "credentials": {
        "mongoDb": {
          "id": "Y4GoWOnzopdVAsVe",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nlet WorldFacts = new Array();\nlet s = \"\";\nfor (const item of $input.all()) {\n  for (let key in item.json){\n    //WorldFacts.push(s)\n    if (key == \"submittedAt\" || key ==\"formMode\"){}\n    else{\n      s = key + \" \" + item.json[key]\n      console.log(s)\n      WorldFacts.push({\n        \"fact\": s\n      })\n    }\n  }\n}\nWorldFacts[0].tags = [\"incident_response\"]\nWorldFacts[1].tags = [\"player_side\"]\nWorldFacts[2].tags = [\"player_side\"]\nWorldFacts[3].tags = [\"service_provider\"]\nWorldFacts[4].tags = [\"service_provider\"]\nWorldFacts[5].tags = [\"architecture\"]\nWorldFacts[6].tags = [\"architecture\"]\nWorldFacts[7].tags = [\"software\"]\nWorldFacts[8].tags = [\"software\"]\nWorldFacts[9].tags = [\"adversary\"]\n\nreturn WorldFacts;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        640,
        300
      ],
      "id": "18ddd2c4-0b8c-48fc-a40d-1e940060c426",
      "name": "Code"
    }
  ],
  "connections": {
    "n8n Form Trigger": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MongoDB": {
      "main": [
        []
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "MongoDB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "57b61a23b74deb976c4869a85636d25524c7b4ca826f71953fc5a32e0f0a81f2"
  },
  "pinData": {},
  "versionId": "2f644ed8-8453-4fe1-8e1c-134224fc00a4",
  "triggerCount": 2,
  "tags": [
    {
      "createdAt": "2024-11-07T14:30:19.879Z",
      "updatedAt": "2024-11-07T14:30:19.879Z",
      "id": "KHPEAotJ2GfBZijJ",
      "name": "raidline"
    },
    {
      "createdAt": "2024-11-07T14:25:37.556Z",
      "updatedAt": "2024-11-07T14:25:37.556Z",
      "id": "LeP5vx3dh2pLAhW6",
      "name": "admin_dashboard"
    },
    {
      "createdAt": "2024-11-07T14:25:26.715Z",
      "updatedAt": "2024-11-07T14:25:26.715Z",
      "id": "bEfk9NVaBJXMqlT1",
      "name": "admin_role"
    },
    {
      "createdAt": "2024-11-07T14:43:32.696Z",
      "updatedAt": "2024-11-07T14:43:32.696Z",
      "id": "LqAzDUuS8yAhKqgj",
      "name": "scenario_setup"
    },
    {
      "createdAt": "2024-11-07T14:27:44.043Z",
      "updatedAt": "2024-11-07T14:27:44.043Z",
      "id": "NBLfL397in5lVM6d",
      "name": "generate_data"
    }
  ]
}