data-docs/workflows/Get_playbook_run_from_channel_id.json
{
  "createdAt": "2024-11-07T13:31:43.825Z",
  "updatedAt": "2024-11-08T13:17:25.115Z",
  "id": "2d9fQRgZBd8bLbQJ",
  "name": "Get playbook run from channel_id",
  "active": false,
  "nodes": [
    {
      "parameters": {},
      "id": "3a09af10-21bd-421d-8ecb-cea179290967",
      "name": "When clicking ‘Test workflow’",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        660,
        300
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "url": "=http://raidline_mattermost:8065/plugins/playbooks/api/v0/runs/channel/{{$json.channel_id}}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "mattermostApi",
        "options": {}
      },
      "id": "fbbaa834-c505-439f-89f5-456e79078d74",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1360,
        200
      ],
      "credentials": {
        "mattermostApi": {
          "id": "TNzZYIwqrkSkHVU8",
          "name": "Mattermost account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "99b602ec-354e-4491-9e6b-84d89c752a2e",
              "name": "run_id",
              "value": "={{ $json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "8c23ee37-b507-47bd-abce-dc369309adb5",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        1600,
        200
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "fd79324a-a9b8-4d73-9c0e-b2c52a9ef6ca",
              "leftValue": "={{ $json.channel_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "91817442-7e98-4abc-b042-ad71a7296e4c",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        880,
        300
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "887966a6-0061-46a6-9250-c5ba4f1d6bb3",
              "name": "channel_id",
              "value": "={{$json.query.channel_id}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "339327c7-c51f-4177-aad4-360baec36339",
      "name": "Edit Fields1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        1140,
        340
      ]
    },
    {
      "parameters": {
        "content": "This workflow is an utility workflow. It allows to retrieve a Mattermost Playbook Run from a given Mattermost Channel ID"
      },
      "id": "eb8f76fc-7b0f-4743-b1d0-63e382fadc03",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        680,
        80
      ]
    }
  ],
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "70fb14d65d1efc3bf383b2aa106e6e224a0ebb0d7bbe904fb212db7a9b65bcf7"
  },
  "pinData": {},
  "versionId": "a4c7c154-c6e8-4636-86f9-e5290bd41bac",
  "triggerCount": 0,
  "tags": [
    {
      "createdAt": "2024-11-07T14:30:19.879Z",
      "updatedAt": "2024-11-07T14:30:19.879Z",
      "id": "KHPEAotJ2GfBZijJ",
      "name": "raidline"
    },
    {
      "createdAt": "2024-11-07T14:35:34.363Z",
      "updatedAt": "2024-11-07T14:35:34.363Z",
      "id": "188hnexWkO1ALnRc",
      "name": "access_data"
    },
    {
      "createdAt": "2024-11-08T08:34:45.238Z",
      "updatedAt": "2024-11-08T08:34:45.238Z",
      "id": "dk8gyCmnSNmU7M4F",
      "name": "mattermost_run"
    }
  ]
}