data-docs/workflows/Retrieve_just_facts.json
{
  "createdAt": "2024-11-07T13:31:43.825Z",
  "updatedAt": "2024-11-08T08:53:08.636Z",
  "id": "mYBFJkGW6uKVqdlO",
  "name": "Retrieve just facts",
  "active": false,
  "nodes": [
    {
      "parameters": {},
      "id": "693f69d6-7bba-4e14-9f5e-77e21b03ccf1",
      "name": "When clicking ‘Test workflow’",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        320,
        280
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "fieldToSplitOut": "facts",
        "options": {}
      },
      "id": "0fc8e8c4-274c-4cb5-8dd6-95686de5e481",
      "name": "Split Out",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1080,
        240
      ]
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "facts",
        "include": "specifiedFields",
        "fieldsToInclude": "fact",
        "options": {}
      },
      "id": "1026e710-c483-4e2b-88df-1e947db6f336",
      "name": "Aggregate",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1280,
        240
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "76622cef-18b1-4462-919a-d0efb4570f93",
              "leftValue": "={{ $json.facts }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "b7c88103-f935-4373-83e6-1ec3b6cd7e59",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.1,
      "position": [
        780,
        280
      ]
    },
    {
      "parameters": {
        "workflowId": "pcUbMXVe8cuSsviN",
        "options": {}
      },
      "id": "1adfa58e-3789-46c0-a3d7-963cf5beb6c9",
      "name": "Access_Incident_facts",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        560,
        280
      ]
    },
    {
      "parameters": {
        "content": "This workflow is a helper subworkflow. It retrieves Incident Facts and put them in a specific form to be used by LLMs"
      },
      "id": "b5785e56-90e5-4a8c-be89-a8dd9f1ba861",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        320,
        -120
      ]
    }
  ],
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Access_Incident_facts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Access_Incident_facts": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "70fb14d65d1efc3bf383b2aa106e6e224a0ebb0d7bbe904fb212db7a9b65bcf7"
  },
  "pinData": {},
  "versionId": "db9e5ce7-2b58-439f-a612-f7f658baf97d",
  "triggerCount": 0,
  "tags": [
    {
      "createdAt": "2024-11-07T14:30:19.879Z",
      "updatedAt": "2024-11-07T14:30:19.879Z",
      "id": "KHPEAotJ2GfBZijJ",
      "name": "raidline"
    },
    {
      "createdAt": "2024-11-07T14:30:00.819Z",
      "updatedAt": "2024-11-07T14:30:00.819Z",
      "id": "0cZGcKUfkpgg1Vgb",
      "name": "access_incident_facts"
    }
  ]
}