data-docs/workflows/Should_run_end_?_V2.json
{
  "createdAt": "2024-11-07T13:31:43.825Z",
  "updatedAt": "2024-11-08T09:51:32.410Z",
  "id": "gfqVKuQrPqrBSMzt",
  "name": "Should run end ? V2",
  "active": false,
  "nodes": [
    {
      "parameters": {},
      "id": "3041b082-3255-4370-85e9-05104575efab",
      "name": "When clicking ‘Test workflow’",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        800,
        560
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "jsCode": "return {\"run_id\":\"oqa4ft17u3n6up4nj71bgub7ka\",\n\"initial_scenario \": \"## Firewall Rule Incident Request\\nFirewall rule left open after faulty change request implementation. Bruteforcing attempts registered on previously protected servers.\",\n\"update_summary\" :\"A critical security flaw in a recently implemented firewall rule change inadvertently left a server vulnerable. Unknown attackers exploited this weakness, breaching several systems and installing backdoors to maintain access and potentially spread further throughout the network. Investigations revealed the initial vulnerability stemmed from an unexpected software update interacting with a previously unknown hardware configuration. \\nFurther analysis indicated a previously unknown vulnerability in one of the affected servers was also exploited.  **However, recent developments show that this incident did not result in any data breaches or sensitive information being compromised.** This significantly reduces the risk of reputational damage and minimizes potential long-term consequences.\\nThe system's manufacturer has acknowledged the issue and provided an updated patch to mitigate the problem, expected to be rolled out within the next 48 hours, effectively neutralizing the threat.\\nThe team remains focused on implementing the patch as soon as it becomes available, securing compromised systems, and adjusting the incident response strategy based on this new information. Prioritizing communication with stakeholders is crucial to ensure transparency and minimize any remaining uncertainty.\",\n\"latest_player_message\" :\"We found the change that was not implemented correctly. We've roll backed the change !\"\n}"
      },
      "id": "c755598d-d10e-476c-afc9-37f9b4dfc273",
      "name": "Debug node",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1060,
        560
      ],
      "disabled": true
    },
    {
      "parameters": {
        "model": "gemma2:latest",
        "options": {}
      },
      "id": "8a8aee35-c3b6-41a3-a217-4000d9f2e8e2",
      "name": "Ollama Model",
      "type": "@n8n/n8n-nodes-langchain.lmOllama",
      "typeVersion": 1,
      "position": [
        1760,
        760
      ],
      "credentials": {
        "ollamaApi": {
          "id": "smC31ckuTiI67jHH",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=**Input:**\n\n* `initial_scenario`: A brief summary of the initial situation.\n* `updates_summary`: A summary of the recent updates provided by the cybersecurity team or generated by the DM (e.g. \"Inconsistencies in system logs have raised concerns about evidence integrity\"). \n* `incident_queries`: The series of questions you've created to guide the player through the scenario. It will be provided by the workflow retriever.\n* `latest_player_message`: The raw text of the player's most recent message. This update is written from the point of view of the incident responder.\n* `queries_answered`: The incident queries that the player successfully answered in their latest update. It willbe an array and can be empty if the player did not succeed in answering questions in their latest update.\n\n**Prompt:**\n\n\"Given the current state of the scenario (`initial_scenario`), the recent updates (`updates_summary`), the player's progress through the incident queries (`incident_queries`),\nand their latest thoughts and actions (`latest_player_message`), determine whether it is time to end the incident response.\n\nIf so, decide on a suitable ending type (`good`/`bad`/`none`) based on the following criteria:\n\n* Has the player successfully contained or eradicated the threat? (True/False)\n* Are there any remaining gaps in the incident response that need attention? (True/False)\n* Does the player have access to critical information that could change the course of the investigation? (True/False)\n\nProvide a brief explanation for your decision (`reason`).\n\n**Output:**\n\nA JSON document with the following information:\n\n* `should_end`: True/False, indicating whether it is time to end the incident response.\n* `ending_type`: A string value (`good`, `bad`, or `none`) indicating the type of ending to write.\n* `reason`: A brief explanation for your decision.\n\n\n** Input **\n\ninitial_scenario : {{ $json[\"initial_scenario\"] }}\nupdate_summary : {{ $json[\"update_summary\"] }}\nlatest_player_message : {{ $json[\"latest_player_message\"] }}\nqueries_answered : {{$json[\"queries_answered\"]}}\n\n{{ $if($json[\"queries_answered\"],\"Also keep in mind the following facts:\" + $json[\"queries_answered\"].map(x => x.toJsonString()).join(\"\\n\"),\"\") }}"
      },
      "id": "6937b08c-7c02-4fba-bf00-83e101cb10fe",
      "name": "Question and Answer Chain",
      "type": "@n8n/n8n-nodes-langchain.chainRetrievalQa",
      "typeVersion": 1.3,
      "position": [
        1820,
        560
      ]
    },
    {
      "parameters": {
        "workflowId": "qgjAEFpEYwJ1uess",
        "fields": {
          "values": [
            {
              "name": "run_id",
              "stringValue": "={{ $('Run_id object').item.json[\"run_id\"]}}"
            }
          ]
        }
      },
      "id": "80074418-a44d-4c37-b111-c7b657d50319",
      "name": "Workflow Retriever",
      "type": "@n8n/n8n-nodes-langchain.retrieverWorkflow",
      "typeVersion": 1,
      "position": [
        2000,
        760
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "902002c5-30df-4295-bd7a-4ca6c9b6ea86",
              "name": "run_id",
              "value": "={{$json.run_id}}",
              "type": "string"
            },
            {
              "id": "4add96a6-1888-4130-96d4-923289ed4293",
              "name": "initial_scenario",
              "value": "={{$json.initial_scenario}}",
              "type": "string"
            },
            {
              "id": "c098746b-5c32-4f4d-8300-7b04e485ad54",
              "name": "update_summary",
              "value": "={{$json.update_summary}}",
              "type": "string"
            },
            {
              "id": "28033258-b585-4982-ad9e-b1fbece05299",
              "name": "latest_player_message",
              "value": "={{$json.latest_player_message}}",
              "type": "string"
            },
            {
              "id": "c17d8658-43ce-46a3-bd71-f6b51f6bf364",
              "name": "queries_answered",
              "value": "={{ $json.queries_answered }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "id": "8eb6f185-9d8d-4dcd-89fd-d7a925cd0fd3",
      "name": "Run_id object",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        1280,
        560
      ]
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"should_end\": true,\n    \"ending_type\":\"bad_end\",\n\t\"reason\":\"This is done !\"\n}"
      },
      "id": "baea2cac-d793-4e19-8b34-aa9adf7cdec5",
      "name": "Structured Output Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        2380,
        780
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Parse the following output : \n{{ $json.response.text }}",
        "hasOutputParser": true
      },
      "id": "3db91de9-7855-424c-9c3b-9324b23e3ef9",
      "name": "Basic LLM Chain",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [
        2280,
        560
      ]
    },
    {
      "parameters": {
        "content": "This run uses a QnA LLM Chain to determine if a Raidline Game should end. Input to decide is initial scenario, updates and queries successfully answered by player."
      },
      "id": "562d8017-43d1-4094-a647-df44c0ce5b01",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1100,
        320
      ]
    }
  ],
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Debug node",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Model": {
      "ai_languageModel": [
        [
          {
            "node": "Question and Answer Chain",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Workflow Retriever": {
      "ai_retriever": [
        [
          {
            "node": "Question and Answer Chain",
            "type": "ai_retriever",
            "index": 0
          }
        ]
      ]
    },
    "Run_id object": {
      "main": [
        [
          {
            "node": "Question and Answer Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Question and Answer Chain": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Debug node": {
      "main": [
        [
          {
            "node": "Run_id object",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "70fb14d65d1efc3bf383b2aa106e6e224a0ebb0d7bbe904fb212db7a9b65bcf7"
  },
  "pinData": {},
  "versionId": "4553d867-36c3-47ff-bdb1-0e8be749918e",
  "triggerCount": 0,
  "tags": [
    {
      "createdAt": "2024-11-07T14:30:19.879Z",
      "updatedAt": "2024-11-07T14:30:19.879Z",
      "id": "KHPEAotJ2GfBZijJ",
      "name": "raidline"
    },
    {
      "createdAt": "2024-11-07T14:39:30.169Z",
      "updatedAt": "2024-11-07T14:39:30.169Z",
      "id": "t4D649cgB2RwOwmD",
      "name": "scenario_management"
    },
    {
      "createdAt": "2024-07-18T12:53:39.827Z",
      "updatedAt": "2024-07-18T12:53:39.827Z",
      "id": "skXchd57SLWMXK6r",
      "name": "llm"
    }
  ]
}